@model  SoftBabymartVn.Models.Module.KHO_ProductModel
<script type="text/javascript">

</script>
<script src="~/Scripts/module/CN/warehouse/m.warehouse.js"></script>
<script src="~/Scripts/module/CN/warehouse/mv.warehousrDetail.js"></script>
<script>
    var model = '@Html.Raw(Json.Encode(Model))';
    var data = JSON.parse(model);
    var kho_productDetail = new Warehouse.mvWarehouseDetail(data);
    kho_productDetail.Start();
</script>
<div id="Kho_productDetailViewId">

    <!--ko if:mWarehouse-->
    <fieldset class="fieldset">
        <div class="row" data-bind="with:kho_productDetail.mWarehouse()">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <h4>Đơn hàng Số: <span data-bind="text:Id"></span></h4>
                </div>
                <div class="form-group">
                    <label>Ngày:</label>
                    <input type="text" readonly="readonly" data-bind="datepicker: Date" class="input datepicker" data-date-format="dd-mm-yyyy" />
                </div>
                <div class="form-group">
                    <label>Kho:</label>
                    <select @*class="form-control show-tick input-sm"*@
                            data-bind=" selectPicker:IdKho, optionsText: 'Kho', optionsValue : 'Id', selectPickerOptions: { optionsArray: kho_productDetail.listKho }"
                            data-live-search="true"></select>
                </div>
                <div class="form-group">
                    <label>Nhà phân phối:</label>
                    <select data-bind=" selectPicker:IdNPP, optionsText: 'TenNPP', optionsValue : 'Id', selectPickerOptions: { optionsArray: kho_productDetail.listNPP }" data-live-search="true"></select>
                </div>
                <div class="form-group">
                    <label for="pwd">Ghi chú:</label>
                    <textarea data-bind="text:Note" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row pull-right">
            <h4>Tổng: <span data-bind="textMoney:kho_productDetail.Total()"></span> vnđ</h4>
        </div>


        <span class="button-group">
            <a href="javascript:void(0)" class="button green-gradient glossy icon-plus">Tạo mới</a>
            <a href="javascript:void(0)" class="button green-gradient glossy icon-download">Xuất</a>
            <a href="javascript:void(0)" class="button green-gradient glossy icon-outbox">Nhập</a>
        </span>
        <p class="button-height inline-label">
            <span class="label">Nhà phân phối</span>
            <span class="button-group margin-top">
                <!--ko foreach:kho_productDetail.listNPP-->
                <label data-bind="attr: { for:'button-checkbox-NPP-'+Id}" class="button green-active">
                    <input type="checkbox" data-bind="checkedValue: Id,checked: kho_productDetail.chosenGroupNPP,attr: {value:Id,name:'button-checkbox-NPP-'+Id,id:'button-checkbox-NPP-'+Id}">
                    <!--ko text:TenNPP-->
                    <!--/ko-->
                </label>
                <!--/ko-->
            </span>

        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-advance table-hover" id="DataTable_KHO_ProductDetailList"
                   data-bind="dataTable: {
                                  dataSource: kho_productDetail.ListProduct,
                                  rowTemplate: 'editTmp_KHO_ProductDetailList',
                                  gridId: 'AssetGrid_KHO_ProductDetailList',
                                  deferRender: true,
                                  columns:
                                      [
                                          {'name':'tensp' },
                                          {'name':'masp'},
                                          {'name':'soft_Barcode'},
                                          {'name':'soft_GiaM'},
                                          {'name':'SL'},
                                          {'name':'Price'},
                                      ]
                                }"> 
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Barcode</th>
                        <th>Tên SP</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                        <th>Giá nhập</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <input type="button" class="button green-gradient big icon-tick" value="Save" data-bind="click:SaveEdit" />

        </div>

    </fieldset>
    <!--/ko-->
    <script type="text/html" id="editTmp_KHO_ProductDetailList">
        <td><span data-bind="text: masp"></span></td>
        <td><span data-bind="text: soft_Barcode"></span></td>
        <td><span data-bind="text: tensp"></span></td>
        <td>
            <span data-bind="text: soft_GiaM"></span>

        </td>
        <td>
            <input type="text" data-bind="value: SL" class="input" />
        </td>
        <td>
            <input type="text" data-bind="value: Price" class="input" />
        </td>
    </script>
    <div class="align-right">
        <input type="button" class="button green-gradient big icon-tick" value="Save" data-bind="click:kho_productDetail.SaveEdit" />
        <input type="button" class="button icon-cross" value="Đóng" />
    </div>
    <div class="pageloading">
        <span class="loader huge"></span>
    </div>
</div>