<script src="~/Scripts/module/Order/m.Order.js"></script>
<script src="~/Scripts/module/Order/OrderInput/mv.OrderInput_Add.js"></script>
<script>
     var data = '@Html.Raw(ViewBag.ProductLst)';
    var orderInsideAdd = new Order.mvOrderInputAdd(data);
    $(document).ready(function () {
        orderInsideAdd.Start();
    });
</script>
<div id="OrderInputAddViewId" class="row-fluid">
    <div class="span9">
        <div class="dataTables_wrapper">
            <div class="control-group">
                <div class="controls">
                    <input type="text" class="span12" placeholder="Tìm kiếm" data-bind="value: Keyword,valueUpdate: 'afterkeydown'">
                    <!--ko if: ListProductSearch().length >0 -->
                    <div class="search_recommended">
                        <ul>
                            <!--ko foreach:ListProductSearch -->
                            <li data-bind="text: ProductName, click: $parent.GetProduct"></li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    <!-- /ko -->
                </div>
            </div>

            <!--ko if: mOrderInput().Detail().length >0-->
            <table class="table table-striped table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <td>Mã hàng hóa</td>
                        <td>Tên hàng</td>
                        <td>Giá nhập</td>
                        <td>Số lượng</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <!--ko foreach: mOrderInput().Detail() -->
                    <tr class="odd">
                        <td class="text-center">
                            <span data-bind="text: Code"></span>
                        </td>
                        <td>
                            <span data-bind="text: ProductName"></span>
                        </td>
                        <td class="text-center">
                            <input data-bind="value: Price, valueUpdate: 'afterkeydown'" class="input-mini" />
                        </td>
                        <td class="text-center">
                            <input data-bind="value: Total, valueUpdate: 'afterkeydown'" class="input-mini" />
                        </td>
                        <td>
                            <span data-bind="text: TotalMoney"></span>
                        </td>
                        <td>
                            <span class="btn btn-danger btn-small" data-bind="click: $parent.RemoveItem"><i class="icon-remove"></i></span>
                        </td>
                    </tr>
                    <!--/ko-->
                    <tr>
                        <td colspan="4" class="text-right">
                            <strong>Tổng tiền</strong>
                        </td>
                        <td colspan="2">
                            <span data-bind="text: mOrderInput().Total"></span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- /ko -->
        </div>
    </div>
    <div class="span3">
        <div class="widget-box">
            <div class="widget-header">
                <h4>Thông tin</h4>
                <span class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class="icon-cog"></i>
                    </a>

                    <a href="#" data-action="reload">
                        <i class="icon-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="icon-remove"></i>
                    </a>
                </span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    Ghi chú
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <p>
                                    <textarea data-bind="value: mOrderInput().Note" class="span12"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>
                        <button class="btn btn-success" data-bind="click:function(){ CreatOrderInput(true) }">Hoàn thành</button>
                        <button class="btn btn-warning" data-bind="click: function(){ CreatOrderInput(false) }">Tạm Lưu</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

