<script id="dataTables" type="text/html">
    <div class="dataTables_wrapper">
        <div class="row-fluid">
            <div class="span6">
                <div class="dataTables_length">
                    <label>
                        Display <select data-bind="options: OptionShowItem,value: ItemPerPage"></select>
                        records
                    </label>
                </div>
            </div>
            <div class="span6">
                <div class="dataTables_filter">
                    <label>Search: <input type="text" data-bind="value: KeywordSearch,valueUpdate: 'afterkeydown'"></label>
                </div>
            </div>
        </div>
        <!--ko if:listData().length >0-->
        <table class="table table-striped table-bordered table-hover dataTable">
            <!--ko template: {name: nameTemplate() } --><!--/ko-->
        </table>
        <!-- /ko -->
        <div class="row-fluid">
            <div class="span6">
                <div class="dataTables_info">Showing 1 to <span data-bind="text: ItemPerPage"></span> of <span data-bind="text: Totalitems"></span> entries</div>
            </div>
            <div class="span6">
                <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                        <li>
                            <a data-bind="visible: CurrentPage() != 1,click: function(){ ChangePage(1); }"><i class="icon-double-angle-left"></i> Trang Đầu</a>
                        </li>
                        <li>
                            <a data-bind="visible: CurrentPage() != 1,click: function(){ ChangePage(CurrentPage()-1); }">
                                <i class="icon-double-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a data-bind="visible: (CurrentPage()-1>0),click: function(){ ChangePage(CurrentPage()-1); }, text: (CurrentPage()-1)"></a>
                        </li>
                        <li class="active">
                            <a data-bind="visible: Totalitems()>0 , text: CurrentPage()">1</a>
                        </li>
                        <li>
                            <a data-bind="visible: (CurrentPage()+1) <= NumberOfPage() ,click: function(){ ChangePage(CurrentPage()+1)}, text: (CurrentPage()+1)"></a>
                        </li>
                        <li class="next">
                            <a data-bind="visible:(CurrentPage()+1) <= NumberOfPage(), click: function(){ ChangePage(CurrentPage()+1)}">
                                <i class="icon-double-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a data-bind="visible:CurrentPage() < NumberOfPage(), click: function(){ ChangePage(NumberOfPage())}">Trang Cuối <i class="icon-double-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>