<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Home</a>
                <span class="divider">
                    <i class="icon-angle-right arrow-icon"></i>
                </span>
            </li>
            <li class="active">Dashboard</li>
        </ul><!--.breadcrumb-->

        <div class="nav-search" id="nav-search">
            <form class="form-search" />
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </div><!--#nav-search-->
    </div>
    <div class="page-content">
        <div id="contentX" class="easyui-tabs" style="position:relative; width:100%;">
            <div title="Home">
            </div>
        </div>

    </div><!--/.page-content-->
    @Html.Partial("/Views/Shared/Partial/_chooseSkin.cshtml")
    <!--/#ace-settings-container-->
</div><!--/.main-content-->
