<script src="~/Scripts/module/CN/kho/Kho_order/mv.kho_order_child.js"></script>
<script>
    var IdOrderBag = "@ViewBag.Id";
    var kho_Order_Child_@ViewBag.Id = new OrderChild(IdOrderBag);
    kho_Order_Child_@(ViewBag.Id).Start();
</script>
<div id="kho_Order_ChildViewId-@ViewBag.Id">
    <fieldset class="fieldset">
        <legend class="legend black-gradient">
            Danh sách chi tiết đơn hàng
        </legend>
        <span class="button-group">
            <a href="javascript:void(0)" class="button green-gradient glossy icon-download">Xuất</a>
        </span>
        <div class="table-responsive">
            <table class="table table-bordered table-advance table-hover" id="DataTable_kho_Order_Child-@ViewBag.Id"
                   data-bind="dataTable: {
                              dataSource: kho_Order_Child_@(ViewBag.Id).listTableOrderChild,
                              rowTemplate: 'readonlyTmp_kho_Order_Child-@ViewBag.Id',
                              gridId: 'AssetGrid_kho_Order_Child-@ViewBag.Id',
                              deferRender: true,
                              columns:
                                  [
                                      {'name':'Id' },
                                      {'name':'Tensp' },
                                      {'name':'TenNPP' },
                                      {'name':'Total_Product' },
                                      {'name':'Total_Day' },
                                      {'name':'Total_Order' },
                                      {'name':'Total_Money' },
                                      {'name':'Note' },
                                  ]
                            }">
                <thead>
                    <tr>
                        <th>Mã ĐH</th>
                        <th>Tên SP</th>
                        <th>Tên NPP</th>
                        <th>Số lượng Tồn</th>
                        <th>Số ngày bán</th>
                        <th>Số lượng đặt</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>

    </fieldset>

    <script type="text/html" id="readonlyTmp_kho_Order_Child-@ViewBag.Id">
        <!--ko template: { name: kho_Order_Child_@(ViewBag.Id).viewmodel().currentTemplate} -->
        <!--/ko-->
    </script>
    <script type="text/html" id="readonlyTemplate_kho_Order_Child-@ViewBag.Id">
        <!--ko if: isNew==false -->
        <!--ko template: { name: 'readTemplate_kho_Order_Child-@ViewBag.Id'} -->
        <!--/ko-->
        <!--/ko-->
        <!--ko if: isNew==true -->
        <!--ko template: { name: 'editTemplate_kho_Order_Child-@ViewBag.Id'} -->
        <!--/ko-->
        <!--/ko-->
    </script>
    <script type="text/html" id="editTemplate_kho_Order_Child-@ViewBag.Id">
        <td>
            <span data-bind="text: Id"></span>
        </td>
        <td>
            <span data-bind="text: Tensp"></span>
        </td>
        <td>
            <span data-bind="text: TenNPP"></span>
        </td>
        <td>
            <span data-bind="text: Total_Product"></span>
        </td>
        <td>
            <span data-bind="text: Total_Day"></span>
        </td>
        <td>
            <span data-bind="text: Total_Order"></span>
        </td>
        <td>
            <span data-bind="text: Total_Money"></span>
        </td>
        <td>
            <textarea data-bind="value: Note"></textarea>
        </td>
        <td>
            <input type="button" class="btn btn-primary" value="Save" data-bind="click: function () { kho_Order_Child_@(ViewBag.Id).viewmodel().save($data); }" />
            <input type="button" class="btn btn-warning" value="Hủy" data-bind="click: function () { kho_Order_Child_@(ViewBag.Id).viewmodel().reset(); }" />
        </td>
    </script>
    <script type="text/html" id="readTemplate_kho_Order_Child-@ViewBag.Id">
        <td>
            <span data-bind="text: Id"></span>
        </td>
        <td>
            <span data-bind="text: Tensp"></span>
        </td>
        <td>
            <span data-bind="text: TenNPP"></span>
        </td>
        <td>
            <span data-bind="text: Total_Product"></span>
        </td>
        <td>
            <span data-bind="text: Total_Day"></span>
        </td>
        <td>
            <span data-bind="text: Total_Order"></span>
        </td>
        <td>
            <span data-bind="text: Total_Money"></span>
        </td>
        <td>
            <span data-bind="text: Note"></span>
        </td>
        <td>
            <input type="button" class="btn btn-primary" value="Sửa" data-bind="click: kho_Order_Child_@(ViewBag.Id).EditView" />
            <input type="button" class="btn btn-danger" value="Xóa" data-bind="click: function () { kho_Order_Child_@(ViewBag.Id).viewmodel().delete($data); }" />
        </td>

    </script>
    <div class="pageloading">
        <span class="loader huge"></span>
    </div>
</div>