<script src="~/Scripts/module/CN/kho/Kho_order/mv.kho_order.js"></script>
<script>
    var kho_Order = new KHO_Order.Order();
    kho_Order.Start();
</script>
<div id="kho_OrderViewId">
    <fieldset class="fieldset">
        <legend class="legend black-gradient">
            Danh sách đặt hàng
        </legend>
        <span class="button-group">
            <a href="javascript:void(0)" class="button green-gradient glossy icon-plus" data-bind="click: function () {  kho_Order.viewmodel().addnewRecord(); }">Tạo mới</a>
            <a href="javascript:void(0)" class="button green-gradient glossy icon-download">Xuất</a>
            <a href="javascript:void(0)" class="button green-gradient glossy icon-outbox">Nhập</a>
        </span>
        <div class="table-responsive">
            <table class="table table-bordered table-advance table-hover" id="DataTable_kho_Order"
                   data-bind="dataTable: {
                              dataSource: kho_Order.listTable,
                              rowTemplate: 'readonlyTmp_kho_Order',
                              gridId: 'AssetGrid_kho_Order',
                              deferRender: true,
                              columns:
                                  [
                                      {'name':'Id' },
                                      {'name':'DateOrder' },
                                      {'name':'Note' },
                                      {'name':'Total' },
                                  ]
                            }">
                <thead>
                    <tr>
                        <th>Mã ĐH</th>
                        <th>Ngày đặt</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </fieldset>

    <script type="text/html" id="readonlyTmp_kho_Order">
        <!--ko template: { name: kho_Order.viewmodel().currentTemplate} -->
        <!--/ko-->
    </script>
    <script type="text/html" id="readonlyTemplate_kho_Order">
        <!--ko if: isNew==false -->
        <!--ko template: { name: 'readTemplate_kho_Order'} -->
        <!--/ko-->
        <!--/ko-->
        <!--ko if: isNew==true -->
        <!--ko template: { name: 'editTemplate_kho_Order'} -->
        <!--/ko-->
        <!--/ko-->
    </script>
    <script type="text/html" id="editTemplate_kho_Order">
        <td>
            <span data-bind="text: Id"></span>
        </td>
        <td>
            <span data-bind="dateshort: DateOrder"></span>
        </td>
        <td>
            <span data-bind="text: Total"></span>
        </td>
        <td>
            <textarea data-bind="value:Note"></textarea>
        </td>
        <td>
            <input type="button" class="btn btn-primary" value="Save" data-bind="click: function () { kho_Order.viewmodel().save($data); }" />
            <input type="button" class="btn btn-info" value="Xem" data-bind="click: function () { kho_Order.viewmodel().review($data); }" />
            <input type="button" class="btn btn-warning" value="Hủy" data-bind="click: function () { kho_Order.viewmodel().reset(); }" />
        </td>
    </script>
    <script type="text/html" id="readTemplate_kho_Order">
        <td>
            <span data-bind="text: Id"></span>
        </td>
        <td>
            <span data-bind="dateshort: DateOrder"></span>
        </td>
        <td>
            <span data-bind="text: Total"></span>
        </td>
        <td>
            <span data-bind="text: Note"></span>
        </td>
        <td>
            <input type="button" class="btn btn-primary" value="Sửa" data-bind="click: function () { kho_Order.viewmodel().editTemplate($data); }" />
            <input type="button" class="btn btn-info" value="Xem" data-bind="click: function () { kho_Order.viewmodel().review($data); }" />
        </td>
       
    </script>
    <div class="pageloading">
        <span class="loader huge"></span>
    </div>
</div>